openapi: 3.0.3
info:
  title: E*TRADE API
  description: |
    E*TRADE API provides access to account information, balances, portfolios, transactions, 
    market quotes, and order management.
    
    This API uses OAuth 1.0a for authentication. All requests must include proper OAuth headers.
  version: 1.0.0
  contact:
    name: E*TRADE Developer Support
    url: https://developer.etrade.com/support
  license:
    name: E*TRADE API License
    url: https://developer.etrade.com

servers:
  - url: https://api.etrade.com/v1
    description: Production Server
  - url: https://apisb.etrade.com/v1
    description: Sandbox Server

tags:
  - name: Accounts
    description: Account listing and information
  - name: Balance
    description: Account balance operations
  - name: Portfolio
    description: Portfolio operations
  - name: Transactions
    description: Transaction operations
  - name: Market
    description: Market quotes and data
  - name: Orders
    description: Order management operations

paths:
  /accounts/list:
    get:
      tags:
        - Accounts
      summary: List Accounts
      description: Returns the account information for the current user. The information returned includes account type, mode, and details.
      operationId: listAccounts
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '204':
          description: No records available
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/balance:
    get:
      tags:
        - Balance
      summary: Get Account Balances
      description: Returns detailed balance information for a specified account for the current user.
      operationId: getAccountBalance
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key. Retrievable by calling the List Accounts API.
          schema:
            type: string
        - name: instType
          in: query
          required: true
          description: The account institution type for which the balance or information is requested
          schema:
            type: string
            enum:
              - BROKERAGE
        - name: accountType
          in: query
          required: false
          description: The registered account type
          schema:
            $ref: '#/components/schemas/AccountType'
        - name: realTimeNAV
          in: query
          required: false
          description: If true, fetches real time balance. Default is false.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '400':
          description: Bad request - Invalid account or parameters
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/portfolio:
    get:
      tags:
        - Portfolio
      summary: View Portfolio
      description: Returns detailed portfolio information for a selected brokerage account.
      operationId: getPortfolio
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key. Retrievable by calling the List Accounts API.
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: The number of positions to return in the response. Default is 50.
          schema:
            type: integer
            default: 50
        - name: sortBy
          in: query
          required: false
          description: The sort by query
          schema:
            type: string
            enum:
              - SYMBOL
              - TYPE_NAME
              - EXCHANGE_NAME
              - CURRENCY
              - QUANTITY
              - LONG_OR_SHORT
              - DATE_ACQUIRED
              - PRICEPAID
              - TOTAL_GAIN
              - TOTAL_GAIN_PCT
              - MARKET_VALUE
              - BID
              - ASK
              - PRICE_CHANGE
              - PRICE_CHANGE_PCT
              - VOLUME
              - WEEK_52_HIGH
              - WEEK_52_LOW
              - EPS
              - PE_RATIO
              - OPTION_TYPE
              - STRIKE_PRICE
              - PREMIUM
              - EXPIRATION
              - DAYS_GAIN
              - COMMISSION
              - MARKETCAP
              - PREV_CLOSE
              - OPEN
              - DAYS_RANGE
              - TOTAL_COST
              - DAYS_GAIN_PCT
              - PCT_OF_PORTFOLIO
              - LAST_TRADE_TIME
              - BASE_SYMBOL_PRICE
              - WEEK_52_RANGE
              - LAST_TRADE
              - SYMBOL_DESC
              - BID_SIZE
              - ASK_SIZE
              - OTHER_FEES
              - HELD_AS
              - OPTION_MULTIPLIER
              - DELIVERABLES
              - COST_PERSHARE
              - DIVIDEND
              - DIV_YIELD
              - DIV_PAY_DATE
              - EST_EARN
              - EX_DIV_DATE
              - TEN_DAY_AVG_DAILY_VOLUME
        - name: sortOrder
          in: query
          required: false
          description: The sort order query. Default is DESC.
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - name: pageNumber
          in: query
          required: false
          description: The specific page in the list to be returned. Each page has a default count of 50 positions.
          schema:
            type: integer
        - name: marketSession
          in: query
          required: false
          description: The market session. Default is REGULAR.
          schema:
            type: string
            enum:
              - REGULAR
              - EXTENDED
            default: REGULAR
        - name: totalsRequired
          in: query
          required: false
          description: Returns the total values of the portfolio. Default is false.
          schema:
            type: boolean
            default: false
        - name: lotsRequired
          in: query
          required: false
          description: Returns position lots for positions. Default is false.
          schema:
            type: boolean
            default: false
        - name: view
          in: query
          required: false
          description: The view query. Default is Quick.
          schema:
            type: string
            enum:
              - PERFORMANCE
              - FUNDAMENTAL
              - OPTIONSWATCH
              - QUICK
              - COMPLETE
            default: QUICK
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
        '204':
          description: No portfolio information found
        '400':
          description: Bad request - Invalid parameters
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions
      description: Get all transactions for the specified account.
      operationId: listTransactions
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key. Retrievable by calling the List Accounts API.
          schema:
            type: string
        - name: Accept
          in: header
          required: false
          description: Format in which transactions can be returned
          schema:
            type: string
            enum:
              - application/vnd.ms-excel
              - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
              - application/json
              - application/xml
        - name: startDate
          in: query
          required: false
          description: The earliest date to include in the date range, formatted as MMDDYYYY. History is available for two years.
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: endDate
          in: query
          required: false
          description: The latest date to include in the date range, formatted as MMDDYYYY
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: sortOrder
          in: query
          required: false
          description: The sort order request
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: marker
          in: query
          required: false
          description: Specifies the desired starting point of the set of items to return. Used for paging.
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Number of transactions to return in the response. If not specified, defaults to 50.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '204':
          description: No transactions found
        '400':
          description: Bad request - Invalid parameters
        '404':
          description: Not found - Invalid transaction parameters
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/transactions/{transactionId}:
    get:
      tags:
        - Transactions
      summary: Get Transaction Details
      description: Get transaction details for the specified transaction.
      operationId: getTransactionDetails
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key. Retrievable by calling the List Accounts API.
          schema:
            type: string
        - name: transactionId
          in: path
          required: true
          description: The transaction ID
          schema:
            type: integer
            format: int64
        - name: Accept
          in: header
          required: false
          description: Format in which transaction detail can be returned
          schema:
            type: string
            enum:
              - application/pdf
              - application/json
              - application/xml
        - name: storeId
          in: query
          required: false
          description: Storage location for older transactions
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransactionDetailsResponse'
        '204':
          description: No transaction found
        '400':
          description: Bad request - Invalid parameters
        '404':
          description: Not found - Invalid transaction ID
        '500':
          description: Internal server error

  # ========== Market API ==========
  /market/quote/{symbols}:
    get:
      tags:
        - Market
      summary: Get Quotes
      description: |
        Returns detailed quote information for one or more specified securities.
        An optional flag specifies one of several pre-configured field sets to return.
      operationId: getQuotes
      parameters:
        - name: symbols
          in: path
          required: true
          description: |
            One or more (comma-separated) symbols for equities or options, up to a maximum of 25.
            Symbols for equities are simple, e.g., GOOG.
            Symbols for options consist of: underlier:year:month:day:optionType:strikePrice
          schema:
            type: string
        - name: detailFlag
          in: query
          required: false
          description: Determines the market fields returned from a quote request
          schema:
            type: string
            enum:
              - ALL
              - FUNDAMENTAL
              - INTRADAY
              - OPTIONS
              - WEEK_52
              - MF_DETAIL
            default: ALL
        - name: requireEarningsDate
          in: query
          required: false
          description: If true, nextEarningDate will be provided in the output
          schema:
            type: boolean
            default: false
        - name: overrideSymbolCount
          in: query
          required: false
          description: If true, symbolList may contain a maximum of 50 symbols
          schema:
            type: boolean
            default: false
        - name: skipMiniOptionsCheck
          in: query
          required: false
          description: If true, no call is made to check whether the symbol has mini options
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '400':
          description: Invalid symbol or parameters
        '500':
          description: Quote service unavailable

  /market/lookup/{search}:
    get:
      tags:
        - Market
      summary: Look Up Product
      description: |
        Returns a list of securities of a specified type based on a search string.
        The search string is compared against the company name.
      operationId: lookupProduct
      parameters:
        - name: search
          in: path
          required: true
          description: The search string for company name lookup
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        '400':
          description: Invalid search parameters
        '500':
          description: Lookup service unavailable

  /market/optionchains:
    get:
      tags:
        - Market
      summary: Get Option Chains
      description: |
        Returns the option chain information for a specified symbol and expiration date.
        The option chain includes call and put option details for the requested strikes.
      operationId: getOptionChains
      parameters:
        - name: symbol
          in: query
          required: true
          description: The market symbol for the instrument
          schema:
            type: string
        - name: expiryYear
          in: query
          required: false
          description: The 4-digit year for the option expiration
          schema:
            type: integer
        - name: expiryMonth
          in: query
          required: false
          description: The month (1-12) for the option expiration
          schema:
            type: integer
            minimum: 1
            maximum: 12
        - name: expiryDay
          in: query
          required: false
          description: The day (1-31) for the option expiration
          schema:
            type: integer
            minimum: 1
            maximum: 31
        - name: strikePriceNear
          in: query
          required: false
          description: The strike price near which to return options
          schema:
            type: number
            format: double
        - name: noOfStrikes
          in: query
          required: false
          description: The number of strikes to return above and below the strikePriceNear value
          schema:
            type: integer
        - name: includeWeekly
          in: query
          required: false
          description: Whether to include weekly options
          schema:
            type: boolean
            default: false
        - name: skipAdjusted
          in: query
          required: false
          description: Whether to skip adjusted options
          schema:
            type: boolean
            default: true
        - name: optionCategory
          in: query
          required: false
          description: The option category
          schema:
            type: string
            enum:
              - STANDARD
              - ALL
              - MINI
        - name: chainType
          in: query
          required: false
          description: The type of option chain
          schema:
            type: string
            enum:
              - CALL
              - PUT
              - CALLPUT
        - name: priceType
          in: query
          required: false
          description: The price type for the option chain
          schema:
            type: string
            enum:
              - ATNM
              - ALL
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChainResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionChainResponse'
        '400':
          description: Invalid symbol or parameters
        '500':
          description: Option chain service unavailable

  /market/optionexpiredate:
    get:
      tags:
        - Market
      summary: Get Option Expire Dates
      description: |
        Returns a list of available expiration dates for options on the specified symbol.
        This can be used to determine valid expiry dates before calling the option chains endpoint.
      operationId: getOptionExpireDates
      parameters:
        - name: symbol
          in: query
          required: true
          description: The market symbol for the instrument
          schema:
            type: string
        - name: expiryType
          in: query
          required: false
          description: The expiry type for the options (ALL, UNSPECIFIED, DAILY, WEEKLY, MONTHLY, QUARTERLY)
          schema:
            type: string
            enum:
              - ALL
              - UNSPECIFIED
              - DAILY
              - WEEKLY
              - MONTHLY
              - QUARTERLY
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionExpireDateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionExpireDateResponse'
        '400':
          description: Invalid symbol or parameters
        '500':
          description: Option expire date service unavailable

  # ========== Orders API ==========
  /accounts/{accountIdKey}/orders:
    get:
      tags:
        - Orders
      summary: List Orders
      description: |
        Returns the order details for a selected brokerage account based on the search criteria provided.
      operationId: listOrders
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key. Retrievable by calling the List Accounts API.
          schema:
            type: string
        - name: marker
          in: query
          required: false
          description: Specifies the desired starting point of the set of items to return. Used for paging.
          schema:
            type: string
        - name: count
          in: query
          required: false
          description: Number of orders to return. Default is 25, maximum is 100.
          schema:
            type: integer
            default: 25
            maximum: 100
        - name: status
          in: query
          required: false
          description: Filter by order status
          schema:
            type: string
            enum:
              - OPEN
              - EXECUTED
              - CANCELLED
              - INDIVIDUAL_FILLS
              - CANCEL_REQUESTED
              - EXPIRED
              - REJECTED
        - name: fromDate
          in: query
          required: false
          description: The earliest date to include, formatted as MMDDYYYY. History is available for two years.
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: toDate
          in: query
          required: false
          description: The latest date to include, formatted as MMDDYYYY.
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: symbol
          in: query
          required: false
          description: The market symbol(s) for filtering. Up to 25 symbols separated by comma.
          schema:
            type: string
        - name: securityType
          in: query
          required: false
          description: The security type filter
          schema:
            type: string
            enum:
              - EQ
              - OPTN
              - MF
              - MMF
        - name: transactionType
          in: query
          required: false
          description: Type of transaction filter
          schema:
            type: string
            enum:
              - ATNM
              - BUY
              - SELL
              - SELL_SHORT
              - BUY_TO_COVER
              - MF_EXCHANGE
        - name: marketSession
          in: query
          required: false
          description: Session in which the order was placed
          schema:
            type: string
            enum:
              - REGULAR
              - EXTENDED
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
        '400':
          description: Invalid account or parameters
        '204':
          description: No orders found
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/orders/preview:
    post:
      tags:
        - Orders
      summary: Preview Order
      description: |
        Submits an order request for preview before placing it.
        Preview allows you to see estimated costs, commissions, and potential issues.
      operationId: previewOrder
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewOrderRequestEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/PreviewOrderRequestEnvelope'
      responses:
        '200':
          description: Successful preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewOrderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PreviewOrderResponse'
        '400':
          description: Invalid order parameters
        '500':
          description: Internal server error

  /accounts/{accountIdKey}/orders/{orderId}/change/preview:
    put:
      tags:
        - Orders
      summary: Preview Changed Order
      description: Previews modifications to an existing order.
      operationId: previewChangeOrder
      parameters:
        - name: accountIdKey
          in: path
          required: true
          description: The unique account key.
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The order ID to modify.
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewOrderRequestEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/PreviewOrderRequestEnvelope'
      responses:
        '200':
          description: Preview successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewOrderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PreviewOrderResponse'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error

components:
  securitySchemes:
    oauth1:
      type: apiKey
      in: header
      name: Authorization
      description: OAuth 1.0a authentication

  schemas:
    AccountType:
      type: string
      enum:
        - AMMCHK
        - ARO
        - BCHK
        - BENFIRA
        - BENFROTHIRA
        - BENF_ESTATE_IRA
        - BENF_MINOR_IRA
        - BENF_ROTH_ESTATE_IRA
        - BENF_ROTH_MINOR_IRA
        - BENF_ROTH_TRUST_IRA
        - BENF_TRUST_IRA
        - BRKCD
        - BROKER
        - CASH
        - C_CORP
        - CONTRIBUTORY
        - COVERDELL_ESA
        - CONVERSION_ROTH_IRA
        - CREDITCARD
        - COMM_PROP
        - CONSERVATOR
        - CORPORATION
        - CSA
        - CUSTODIAL
        - DVP
        - ESTATE
        - EMPCHK
        - EMPMMCA
        - ETCHK
        - ETMMCHK
        - HEIL
        - HELOC
        - INDCHK
        - INDIVIDUAL
        - INDIVIDUAL_K
        - INVCLUB
        - INVCLUB_C_CORP
        - INVCLUB_LLC_C_CORP
        - INVCLUB_LLC_PARTNERSHIP
        - INVCLUB_LLC_S_CORP
        - INVCLUB_PARTNERSHIP
        - INVCLUB_S_CORP
        - IRA
        - IRA_ROLLOVER
        - JTBE
        - JTIC
        - JTWROS
        - LLC_C_CORP
        - LLC_PARTNERSHIP
        - LLC_S_CORP
        - LLP
        - LLP_C_CORP
        - LLP_S_CORP
        - MARGIN
        - MONEY_PURCHASE
        - NONPROFIT
        - OTHER
        - PARTNER
        - PARTNERSHIP
        - PARTNERSHIP_C_CORP
        - PARTNERSHIP_S_CORP
        - PDT_ACCOUNT
        - PM_ACCOUNT
        - PROFIT_SHARING
        - PROPRIETARY
        - REGUG
        - ROTH
        - ROTH_CONVERSION
        - ROTH_IRA
        - S_CORP
        - SEP_IRA
        - SIMPLE_IRA
        - TIC
        - TRUST
        - UGMA
        - UTMA

    AccountMode:
      type: string
      enum:
        - CASH
        - MARGIN
        - CHECKING
        - IRA
        - SAVINGS
        - CD

    AccountStatus:
      type: string
      enum:
        - ACTIVE
        - CLOSED

    InstitutionType:
      type: string
      enum:
        - BROKERAGE

    QuoteStatus:
      type: string
      enum:
        - REALTIME
        - DELAYED
        - CLOSING
        - EH_REALTIME
        - EH_BEFORE_OPEN
        - EH_CLOSED

    SecurityType:
      type: string
      enum:
        - BOND
        - EQ
        - INDX
        - MF
        - MMF
        - OPTN

    CallPut:
      type: string
      enum:
        - CALL
        - PUT

    TypeCode:
      type: string
      enum:
        - EQUITY
        - OPTION
        - MUTUAL_FUND
        - INDEX
        - MONEY_MARKET_FUND
        - BOND
        - UNKNOWN
        - WILDCARD
        - MOVE
        - ETF
        - EQUITY_OPTION_ETF
        - EQUITY_ETF
        - CLOSED_END_FUND
        - PREFERRED
        - EQUITY_OPTN
        - EXCHANGE_TRADED_FUND
        - MUTUAL_FUND_MONEY_MARKET_FUND

    PositionIndicator:
      type: string
      enum:
        - TYPE1
        - TYPE2
        - TYPE5
        - UNDEFINED

    OptionLevel:
      type: string
      enum:
        - NO_OPTIONS
        - LEVEL_1
        - LEVEL_2
        - LEVEL_3
        - LEVEL_4

    AccountListResponse:
      type: object
      properties:
        accounts:
          $ref: '#/components/schemas/Accounts'

    Accounts:
      type: object
      properties:
        account:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: Display the type, description for each of the user's accounts as well as a detail display for each account.

    Account:
      type: object
      properties:
        instNo:
          type: integer
          description: Institution number
        accountId:
          type: string
          description: The user's account ID
        accountIdKey:
          type: string
          description: The unique account key
        accountMode:
          $ref: '#/components/schemas/AccountMode'
        accountDesc:
          type: string
          description: Description of account
        accountName:
          type: string
          description: The nickname for the account
        accountType:
          $ref: '#/components/schemas/AccountType'
        institutionType:
          $ref: '#/components/schemas/InstitutionType'
        accountStatus:
          $ref: '#/components/schemas/AccountStatus'
        closedDate:
          type: integer
          format: int64
          description: The date when the account was closed
        shareWorksAccount:
          type: boolean
          description: Is Shareworks Account?
        shareWorksSource:
          type: string
          description: Shareworks Source
        fcManagedMssbClosedAccount:
          type: boolean

    BalanceResponse:
      type: object
      properties:
        accountId:
          type: string
          description: The account ID for which the balance is requested
        institutionType:
          type: string
          description: The account institution type
        asOfDate:
          type: integer
          format: int64
          description: The effective date in UTC
        accountType:
          $ref: '#/components/schemas/AccountType'
        optionLevel:
          $ref: '#/components/schemas/OptionLevel'
        accountDescription:
          type: string
          description: The description of the account
        quoteMode:
          type: integer
          format: int32
          description: The quote type indicator
        dayTraderStatus:
          type: string
          description: The user's status as a day trader
        accountMode:
          type: string
          description: The account mode
        accountDesc:
          type: string
          description: The description of the account
        openCalls:
          type: array
          items:
            $ref: '#/components/schemas/OpenCalls'
        cash:
          $ref: '#/components/schemas/Cash'
        margin:
          $ref: '#/components/schemas/Margin'
        lending:
          $ref: '#/components/schemas/Lending'
        computedBalance:
          $ref: '#/components/schemas/ComputedBalance'

    Cash:
      type: object
      properties:
        fundsForOpenOrdersCash:
          type: number
          description: The funds reserved for open orders
        moneyMktBalance:
          type: number
          description: The current cash balance of the money market or sweep deposit account

    Margin:
      type: object
      properties:
        dtCashOpenOrderReserve:
          type: number
          description: The margin account cash open order reserve
        dtMarginOpenOrderReserve:
          type: number
          description: The margin account margin open order reserve

    Lending:
      type: object
      properties:
        currentBalance:
          type: number
          description: The current balance on lent funds
        creditLine:
          type: number
          description: The lent funds current credit line
        outstandingBalance:
          type: number
          description: The outstanding balance on the lent funds
        minPaymentDue:
          type: number
          description: The minimum balance due on the payback of the lent funds
        amountPastDue:
          type: number
          description: The amount past due on the payback of the lent funds
        availableCredit:
          type: number
          description: The available credit on the lent funds
        ytdInterestPaid:
          type: number
          description: The year-to-date interest paid on the lent funds
        lastYtdInterestPaid:
          type: number
          description: The last year-to-date interest paid on the lent funds
        paymentDueDate:
          type: integer
          format: int64
          description: The payment due date on the lent funds
        lastPaymentReceivedDate:
          type: integer
          format: int64
          description: The date of last payment received on the lent funds
        paymentReceivedMtd:
          type: number
          description: The month-to-date total of payments received on lent funds

    OpenCalls:
      type: object
      properties:
        minEquityCall:
          type: number
          description: The minimum equity call
        fedCall:
          type: number
          description: The federal call
        cashCall:
          type: number
          description: The cash call
        houseCall:
          type: number
          description: The house call

    ComputedBalance:
      type: object
      properties:
        cashAvailableForInvestment:
          type: number
          description: The cash available for investments
        cashAvailableForWithdrawal:
          type: number
          description: The cash available for withdrawal
        totalAvailableForWithdrawal:
          type: number
          description: The total amount available for withdrawal
        netCash:
          type: number
          description: The net cash balance
        cashBalance:
          type: number
          description: The current cash balance
        settledCashForInvestment:
          type: number
          description: The settled cash for investments
        unSettledCashForInvestment:
          type: number
          description: The unsettled cash for investments
        fundsWithheldFromPurchasePower:
          type: number
          description: The funds withheld from the purchasing power
        fundsWithheldFromWithdrawal:
          type: number
          description: The funds withheld from withdrawal
        marginBuyingPower:
          type: number
          description: The margin account buying power
        cashBuyingPower:
          type: number
          description: The cash account buying power
        dtMarginBuyingPower:
          type: number
          description: The day trader margin account buying power
        dtCashBuyingPower:
          type: number
          description: The day trader cash account buying power
        marginBalance:
          type: number
          description: The margin account balance
        shortAdjustBalance:
          type: number
          description: The short adjusted balance
        regtEquity:
          type: number
          description: The Regulation T equity
        regtEquityPercent:
          type: number
          description: The Regulation T equity percentage
        accountBalance:
          type: number
          description: The current account balance
        openCalls:
          $ref: '#/components/schemas/OpenCalls'
        realTimeValues:
          $ref: '#/components/schemas/RealTimeValues'
        portfolioMargin:
          $ref: '#/components/schemas/PortfolioMargin'

    RealTimeValues:
      type: object
      properties:
        totalAccountValue:
          type: number
          description: The total account value
        netMv:
          type: number
          description: The net market value
        netMvLong:
          type: number
          description: The long net market value
        netMvShort:
          type: number
          description: The short net market value
        totalLongValue:
          type: number
          description: The total long value

    PortfolioMargin:
      type: object
      properties:
        dtCashOpenOrderReserve:
          type: number
          description: The margin account cash open order reserve
        dtMarginOpenOrderReserve:
          type: number
          description: The margin account margin open order reserve
        liquidatingEquity:
          type: number
          description: The liquidating equity
        houseExcessEquity:
          type: number
          description: The house excess equity
        totalHouseRequirement:
          type: number
          description: The total house requirement
        excessEquityMinusRequirement:
          type: number
          description: The excess equity minus the portfolio requirement
        totalMarginRqmts:
          type: number
          description: The total margin requirements
        availExcessEquity:
          type: number
          description: The available excess equity
        excessEquity:
          type: number
          description: The excess equity
        openOrderReserve:
          type: number
          description: The open order reserve
        fundsOnHold:
          type: number
          description: The funds on hold

    PortfolioResponse:
      type: object
      properties:
        totals:
          $ref: '#/components/schemas/Totals'
        accountPortfolio:
          type: array
          items:
            $ref: '#/components/schemas/AccountPortfolio'

    Totals:
      type: object
      properties:
        todaysGainLoss:
          type: number
          description: Today's gain or loss
        todaysGainLossPct:
          type: number
          description: Today's gain or loss percentage
        totalMarketValue:
          type: number
          description: Today's market value
        totalGainLoss:
          type: number
          description: The total gain or loss
        totalGainLossPct:
          type: number
          description: The total gain loss percentage
        totalPricePaid:
          type: number
          description: The total price paid
        cashBalance:
          type: number
          description: The cash balance

    AccountPortfolio:
      type: object
      properties:
        accountId:
          type: string
          description: Numeric account ID
        next:
          type: string
          description: The next account portfolio item
        totalNoOfPages:
          type: integer
          format: int32
          description: The total number of pages
        nextPageNo:
          type: string
          description: The next page number
        position:
          type: array
          items:
            $ref: '#/components/schemas/Position'

    Position:
      type: object
      properties:
        positionId:
          type: integer
          format: int64
          description: The position ID
        accountId:
          type: string
          description: Numeric account ID
        product:
          $ref: '#/components/schemas/Product'
        osiKey:
          type: string
          description: The Options Symbology Initiative (OSI) key
        symbolDescription:
          type: string
          description: The symbol description
        dateAcquired:
          type: integer
          format: int64
          description: The date the position was acquired
        pricePaid:
          type: number
          description: The price paid for the position
        price:
          type: number
          description: The price of the position
        commissions:
          type: number
          description: The commissions paid for the position
        otherFees:
          type: number
          description: The other fees paid to acquire the position
        quantity:
          type: number
          description: The quantity
        positionIndicator:
          $ref: '#/components/schemas/PositionIndicator'
        positionType:
          type: string
          description: The position type
        change:
          type: number
          description: The change
        changePct:
          type: number
          description: The percentage change
        daysGain:
          type: number
          description: The day's gain
        daysGainPct:
          type: number
          description: The percentage day's gain
        marketValue:
          type: number
          description: The market value
        totalCost:
          type: number
          description: The total cost
        totalGain:
          type: number
          description: The total gain
        totalGainPct:
          type: number
          description: The total gain percentage
        pctOfPortfolio:
          type: number
          description: The percentage of the portfolio
        costPerShare:
          type: number
          description: The cost per share
        todayCommissions:
          type: number
          description: Today's total commissions
        todayFees:
          type: number
          description: Today's total fees
        todayPricePaid:
          type: number
          description: Today's total price paid
        todayQuantity:
          type: number
          description: Today's total quantity
        quotestatus:
          type: string
          description: The quote type
        dateTimeUTC:
          type: integer
          format: int64
          description: The date and time in UTC
        adjPrevClose:
          type: number
          description: The previous adjusted close
        performance:
          $ref: '#/components/schemas/PerformanceView'
        fundamental:
          $ref: '#/components/schemas/FundamentalView'
        optionsWatch:
          $ref: '#/components/schemas/OptionsWatchView'
        quick:
          $ref: '#/components/schemas/QuickView'
        complete:
          $ref: '#/components/schemas/CompleteView'
        lotsDetails:
          type: string
          description: The lots details
        quoteDetails:
          type: string
          description: The quote details
        positionLot:
          type: array
          items:
            $ref: '#/components/schemas/PositionLot'

    Product:
      type: object
      properties:
        symbol:
          type: string
          description: The symbol for which the quote details are being accessed
        securityType:
          $ref: '#/components/schemas/SecurityType'
        securitySubType:
          type: string
          description: The subtype of the security
        callPut:
          $ref: '#/components/schemas/CallPut'
        expiryYear:
          type: integer
          format: int32
          description: The four-digit year the option will expire
        expiryMonth:
          type: integer
          format: int32
          description: The month (1-12) the option will expire
        expiryDay:
          type: integer
          format: int32
          description: The day (1-31) the option will expire
        strikePrice:
          type: number
          description: The strike price for the option
        expiryType:
          type: string
          description: The expiration type for the option
        productId:
          $ref: '#/components/schemas/ProductId'

    ProductId:
      type: object
      properties:
        symbol:
          type: string
          description: The market symbol for the security being bought or sold
        typeCode:
          $ref: '#/components/schemas/TypeCode'

    PerformanceView:
      type: object
      properties:
        change:
          type: number
          description: The change
        changePct:
          type: number
          description: The change percentage
        lastTrade:
          type: number
          description: The last trade
        daysGain:
          type: number
          description: The gain over the day
        totalGain:
          type: number
          description: The total gain
        totalGainPct:
          type: number
          description: The total gain percentage
        marketValue:
          type: number
          description: The market value
        quoteStatus:
          $ref: '#/components/schemas/QuoteStatus'
        lastTradeTime:
          type: integer
          format: int64
          description: The time of the last trade

    FundamentalView:
      type: object
      properties:
        lastTrade:
          type: number
          description: The last trade total
        lastTradeTime:
          type: integer
          format: int64
          description: The time of the last trade
        change:
          type: number
          description: The change
        changePct:
          type: number
          description: The change percentage
        peRatio:
          type: number
          description: The Price to Earnings (P/E) ratio
        eps:
          type: number
          description: The earnings per share
        dividend:
          type: number
          description: The dividend
        divYield:
          type: number
          description: The dividend yield
        marketCap:
          type: number
          description: The market cap
        week52Range:
          type: string
          description: The 52 week range
        quoteStatus:
          $ref: '#/components/schemas/QuoteStatus'

    OptionsWatchView:
      type: object
      properties:
        baseSymbolAndPrice:
          type: string
          description: The price of the underlying or base symbol of the option
        premium:
          type: number
          description: The option premium
        lastTrade:
          type: number
          description: The last trade
        bid:
          type: number
          description: The bid
        ask:
          type: number
          description: The ask
        quoteStatus:
          $ref: '#/components/schemas/QuoteStatus'
        lastTradeTime:
          type: integer
          format: int64
          description: The time of the last trade

    QuickView:
      type: object
      properties:
        lastTrade:
          type: number
          description: The last trade
        lastTradeTime:
          type: integer
          format: int64
          description: The time of the last trade
        change:
          type: number
          description: The change
        changePct:
          type: number
          description: The change percentage
        volume:
          type: integer
          format: int64
          description: The total volume
        quoteStatus:
          $ref: '#/components/schemas/QuoteStatus'
        sevenDayCurrentYield:
          type: number
          format: double
          description: The seven day current yield
        annualTotalReturn:
          type: number
          format: double
          description: The total annual return
        weightedAverageMaturity:
          type: number
          format: double
          description: The weighted average maturity

    CompleteView:
      type: object
      properties:
        priceAdjustedFlag:
          type: boolean
          description: The price adjusted flag
        price:
          type: number
          description: The current market price
        adjPrice:
          type: number
          description: The adjusted price
        change:
          type: number
          description: The change
        changePct:
          type: number
          description: The change percentage
        prevClose:
          type: number
          description: The previous close
        adjPrevClose:
          type: number
          description: The adjusted previous close
        volume:
          type: number
          description: The volume
        lastTrade:
          type: number
          description: The last trade
        lastTradeTime:
          type: integer
          format: int64
          description: The time of the last trade
        adjLastTrade:
          type: number
          description: The adjusted last trade
        symbolDescription:
          type: string
          description: The symbol description
        perform1Month:
          type: number
          description: The one-month performance
        perform3Month:
          type: number
          description: The three-month performance
        perform6Month:
          type: number
          description: The six-month performance
        perform12Month:
          type: number
          description: The 12-month performance
        prevDayVolume:
          type: integer
          format: int64
          description: The previous day's volume
        tenDayVolume:
          type: integer
          format: int64
          description: The 10 day average volume
        beta:
          type: number
          description: The beta
        sv10DaysAvg:
          type: number
          description: The 10 day average stochastic volatility
        sv20DaysAvg:
          type: number
          description: The 20 day average stochastic volatility
        sv1MonAvg:
          type: number
          description: The one month average stochastic volatility
        sv2MonAvg:
          type: number
          description: The two month average stochastic volatility
        sv3MonAvg:
          type: number
          description: The three month average stochastic volatility
        sv4MonAvg:
          type: number
          description: The four month average stochastic volatility
        sv6MonAvg:
          type: number
          description: The six month average stochastic volatility
        week52High:
          type: number
          description: The 52 week high
        week52Low:
          type: number
          description: The 52 week low
        week52Range:
          type: string
          description: The 52 week range
        marketCap:
          type: number
          description: The market cap
        daysRange:
          type: string
          description: The day's range
        delta52WkHigh:
          type: number
          description: The high for the 52 week high/low delta calculation
        delta52WkLow:
          type: number
          description: The low for the 52 week high/low delta calculation
        currency:
          type: string
          description: The currency
        exchange:
          type: string
          description: The exchange
        marginable:
          type: boolean
          description: The sum available for margin
        bid:
          type: number
          description: The bid
        ask:
          type: number
          description: The ask
        bidAskSpread:
          type: number
          description: The bid ask spread
        bidSize:
          type: integer
          format: int64
          description: The size of the bid
        askSize:
          type: integer
          format: int64
          description: The size of the ask
        open:
          type: number
          description: The open
        delta:
          type: number
          description: The delta
        gamma:
          type: number
          description: The gamma
        ivPct:
          type: number
          description: The Implied Volatility (IV) percentage
        rho:
          type: number
          description: The rho
        theta:
          type: number
          description: The theta
        vega:
          type: number
          description: The vega
        premium:
          type: number
          description: The premium
        daysToExpiration:
          type: integer
          format: int32
          description: The days remaining until expiration
        intrinsicValue:
          type: number
          description: The intrinsic value
        openInterest:
          type: number
          description: The open interest
        optionsAdjustedFlag:
          type: boolean
          description: The options adjusted flag
        deliverablesStr:
          type: string
          description: The deliverables
        optionMultiplier:
          type: number
          description: The option multiplier
        baseSymbolAndPrice:
          type: string
          description: The price of the underlying or base symbol
        estEarnings:
          type: number
          description: The estimated earnings
        eps:
          type: number
          description: The earnings per share
        peRatio:
          type: number
          description: The Price to Earnings (P/E) ratio
        annualDividend:
          type: number
          description: The annual dividend
        dividend:
          type: number
          description: The dividend
        divYield:
          type: number
          description: The dividend yield
        divPayDate:
          type: integer
          format: int64
          description: The date of the dividend pay
        exDividendDate:
          type: integer
          format: int64
          description: The extended dividend date
        cusip:
          type: string
          description: The CUSIP number
        quoteStatus:
          $ref: '#/components/schemas/QuoteStatus'

    PositionLot:
      type: object
      properties:
        positionId:
          type: integer
          format: int64
          description: The position ID
        positionLotId:
          type: integer
          format: int64
          description: The position lot ID
        price:
          type: number
          format: double
          description: The position lot price
        termCode:
          type: integer
          format: int32
          description: The term code
        daysGain:
          type: number
          format: double
          description: The days gain
        daysGainPct:
          type: number
          format: double
          description: The days gain percentage
        marketValue:
          type: number
          format: double
          description: The market value
        totalCost:
          type: number
          format: double
          description: The total cost
        totalCostForGainPct:
          type: number
          format: double
          description: The total cost for the percentage gain
        totalGain:
          type: number
          format: double
          description: The total gain
        lotSourceCode:
          type: integer
          format: int32
          description: The lot source code
        originalQty:
          type: number
          description: The original quantity
        remainingQty:
          type: number
          description: The remaining quantity
        availableQty:
          type: number
          description: The available quantity
        orderNo:
          type: integer
          format: int64
          description: The order number
        legNo:
          type: integer
          format: int32
          description: The leg number
        acquiredDate:
          type: integer
          format: int64
          description: The date acquired
        locationCode:
          type: integer
          format: int32
          description: The location code
        exchangeRate:
          type: number
          format: double
          description: The exchange rate
        settlementCurrency:
          type: string
          description: The settlement currency
        paymentCurrency:
          type: string
          description: The payment currency
        adjPrice:
          type: number
          format: double
          description: The adjusted price
        commPerShare:
          type: number
          format: double
          description: The commissions per share
        feesPerShare:
          type: number
          format: double
          description: The fees per share
        premiumAdj:
          type: number
          description: The adjusted premium
        shortType:
          type: integer
          format: int32
          description: The short type

    TransactionListResponse:
      type: object
      properties:
        transaction:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pageMarkers:
          type: string
          description: The page markers for pagination
        moreTransactions:
          type: boolean
          description: Indicates if there are more transactions
        transactionCount:
          type: integer
          description: The count of transactions in this response
        totalCount:
          type: integer
          description: The total count of all transactions
        next:
          type: string
          description: The URL for the next page of transactions
        marker:
          type: string
          description: The marker for the next page

    Transaction:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
          description: Numeric transaction ID
        accountId:
          type: string
          description: Numeric account ID
        transactionDate:
          type: integer
          format: int64
          description: Date of the specified transaction
        postDate:
          type: integer
          format: int64
          description: The post date
        amount:
          type: number
          description: Total cost of transaction, including commission if any
        description:
          type: string
          description: The transaction description
        description2:
          type: string
          description: The secondary transaction description
        transactionType:
          type: string
          description: Type of transaction
        memo:
          type: string
          description: The memo field
        imageFlag:
          type: boolean
          description: Image flag
        instType:
          type: string
          description: Institution type
        brokerage:
          $ref: '#/components/schemas/Brokerage'
        detailsURI:
          type: string
          description: URI to get transaction details

    TransactionDetailsResponse:
      type: object
      properties:
        transactionId:
          type: integer
          format: int64
          description: Numeric transaction ID
        accountId:
          type: string
          description: Numeric account ID
        transactionDate:
          type: integer
          format: int64
          description: Date of the specified transaction
        postDate:
          type: integer
          format: int64
          description: The post date
        amount:
          type: number
          description: Total cost of transaction, including commission if any
        description:
          type: string
          description: The transaction description
        category:
          $ref: '#/components/schemas/Category'
        brokerage:
          $ref: '#/components/schemas/Brokerage'

    Category:
      type: object
      properties:
        categoryId:
          type: string
          description: The category ID
        parentId:
          type: string
          description: The parent ID
        categoryName:
          type: string
          description: The category name
        parentName:
          type: string
          description: The parent category name

    Brokerage:
      type: object
      properties:
        transactionType:
          type: string
          description: Type of transaction (deposit, dividend, and so on)
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: number
          format: double
          description: Item count; for example, share count
        price:
          type: number
          format: double
          description: Price per item if applicable; for example, price per share
        settlementCurrency:
          type: string
          description: Settlement currency
        paymentCurrency:
          type: string
          description: Payment currency
        fee:
          type: number
          format: double
          description: The brokerage fee
        memo:
          type: string
          description: The memo field
        checkNo:
          type: string
          description: The check number
        orderNo:
          type: string
          description: The order number
        settlementDate:
          type: integer
          format: int64
          description: The settlement date

    # ========== Market Schemas ==========
    QuoteResponse:
      type: object
      properties:
        quoteData:
          type: array
          items:
            $ref: '#/components/schemas/QuoteData'
        messages:
          $ref: '#/components/schemas/Messages'

    QuoteData:
      type: object
      properties:
        dateTime:
          type: string
          description: The date and time of the quote
        dateTimeUTC:
          type: integer
          format: int64
          description: The date and time in UTC
        quoteStatus:
          type: string
          enum:
            - REALTIME
            - DELAYED
            - CLOSING
            - EH_REALTIME
            - EH_BEFORE_OPEN
            - EH_CLOSED
            - INDICATIVE_REALTIME
        ahFlag:
          type: string
          description: After hours flag
        hasMiniOptions:
          type: boolean
          description: Whether mini options exist for the symbol
        all:
          $ref: '#/components/schemas/AllQuoteDetails'
        fundamental:
          $ref: '#/components/schemas/FundamentalQuoteDetails'
        intraday:
          $ref: '#/components/schemas/IntradayQuoteDetails'
        option:
          $ref: '#/components/schemas/OptionQuoteDetails'
        week52:
          $ref: '#/components/schemas/Week52QuoteDetails'
        mutualFund:
          $ref: '#/components/schemas/MutualFundQuoteDetails'
        product:
          $ref: '#/components/schemas/QuoteProduct'
        errorMessage:
          type: string
          description: Error message if quote failed

    AllQuoteDetails:
      type: object
      properties:
        adjustedFlag:
          type: boolean
          description: Indicates if option adjusted due to corporate action
        ask:
          type: number
          format: double
          description: Current ask price
        askSize:
          type: integer
          format: int64
          description: Number shares at ask price
        askTime:
          type: string
          description: Time of the ask
        bid:
          type: number
          format: double
          description: Current bid price
        bidExchange:
          type: string
          description: Exchange reporting the bid
        bidSize:
          type: integer
          format: int64
          description: Number of shares at bid price
        bidTime:
          type: string
          description: Time of the bid
        changeClose:
          type: number
          format: double
          description: Dollar change from previous close
        changeClosePercentage:
          type: number
          format: double
          description: Percentage change from previous close
        companyName:
          type: string
          description: Name of the company
        daysToExpiration:
          type: integer
          format: int64
          description: Days before option expires
        dirLast:
          type: string
          description: Direction of movement
        dividend:
          type: number
          format: double
          description: Cash amount per share of latest dividend
        eps:
          type: number
          format: double
          description: Earnings per share
        estEarnings:
          type: number
          format: double
          description: Projected earnings per share
        exDividendDate:
          type: integer
          format: int64
          description: Ex-dividend date in epoch time
        high:
          type: number
          format: double
          description: Highest price today
        high52:
          type: number
          format: double
          description: 52-week high price
        lastTrade:
          type: number
          format: double
          description: Price of most recent trade
        low:
          type: number
          format: double
          description: Lowest price today
        low52:
          type: number
          format: double
          description: 52-week low price
        open:
          type: number
          format: double
          description: Opening price today
        openInterest:
          type: integer
          format: int64
          description: Total open options/futures contracts
        optionStyle:
          type: string
          description: European or American style
        optionUnderlier:
          type: string
          description: Underlier symbol for options
        previousClose:
          type: number
          format: double
          description: Previous close price
        previousDayVolume:
          type: integer
          format: int64
          description: Previous day volume
        primaryExchange:
          type: string
          description: Primary listing exchange
        symbolDescription:
          type: string
          description: Description of the security
        totalVolume:
          type: integer
          format: int64
          description: Total shares traded
        marketCap:
          type: number
          description: Market capitalization
        sharesOutstanding:
          type: number
          description: Shares outstanding
        beta:
          type: number
          format: double
          description: Beta value
        yield:
          type: number
          format: double
          description: Dividend yield
        pe:
          type: number
          format: double
          description: Price to earnings ratio
        week52LowDate:
          type: integer
          format: int64
          description: Date of 52-week low
        week52HiDate:
          type: integer
          format: int64
          description: Date of 52-week high
        intrinsicValue:
          type: number
          format: double
          description: Intrinsic value
        timePremium:
          type: number
          format: double
          description: Time premium
        optionMultiplier:
          type: number
          format: double
          description: Option multiplier
        contractSize:
          type: number
          format: double
          description: Contract size
        expirationDate:
          type: integer
          format: int64
          description: Option expiration date
        timeOfLastTrade:
          type: integer
          format: int64
          description: Time of last trade
        averageVolume:
          type: integer
          format: int64
          description: Average volume

    FundamentalQuoteDetails:
      type: object
      properties:
        companyName:
          type: string
        eps:
          type: number
          format: double
        estEarnings:
          type: number
          format: double
        high52:
          type: number
          format: double
        lastTrade:
          type: number
          format: double
        low52:
          type: number
          format: double
        symbolDescription:
          type: string

    IntradayQuoteDetails:
      type: object
      properties:
        ask:
          type: number
          format: double
        bid:
          type: number
          format: double
        changeClose:
          type: number
          format: double
        changeClosePercentage:
          type: number
          format: double
        companyName:
          type: string
        high:
          type: number
          format: double
        lastTrade:
          type: number
          format: double
        low:
          type: number
          format: double
        totalVolume:
          type: integer
          format: int64

    OptionQuoteDetails:
      type: object
      properties:
        ask:
          type: number
          format: double
        askSize:
          type: integer
          format: int64
        bid:
          type: number
          format: double
        bidSize:
          type: integer
          format: int64
        companyName:
          type: string
        daysToExpiration:
          type: integer
          format: int64
        lastTrade:
          type: number
          format: double
        openInterest:
          type: integer
          format: int64
        intrinsicValue:
          type: number
          format: double
        timePremium:
          type: number
          format: double
        optionMultiplier:
          type: number
          format: double
        contractSize:
          type: number
          format: double
        symbolDescription:
          type: string
        optionGreeks:
          $ref: '#/components/schemas/OptionGreeks'

    OptionGreeks:
      type: object
      description: Option Greeks values for measuring option risk
      properties:
        rho:
          type: number
          format: double
          description: Rate of change of option price with respect to interest rate
        vega:
          type: number
          format: double
          description: Sensitivity of option price to changes in volatility
        theta:
          type: number
          format: double
          description: Rate of decline in option value due to time decay
        delta:
          type: number
          format: double
          description: Rate of change of option price with respect to underlying price
        gamma:
          type: number
          format: double
          description: Rate of change of delta with respect to underlying price
        iv:
          type: number
          format: double
          description: Implied volatility
        currentValue:
          type: boolean
          description: Whether current values are available

    Week52QuoteDetails:
      type: object
      properties:
        companyName:
          type: string
        high52:
          type: number
          format: double
        lastTrade:
          type: number
          format: double
        low52:
          type: number
          format: double
        perf12Months:
          type: number
          format: double
        previousClose:
          type: number
          format: double
        symbolDescription:
          type: string
        totalVolume:
          type: integer
          format: int64

    MutualFundQuoteDetails:
      type: object
      properties:
        symbolDescription:
          type: string
        cusip:
          type: string
        changeClose:
          type: number
          format: double
        previousClose:
          type: number
          format: double
        netAssetValue:
          type: number
        publicOfferPrice:
          type: number
          format: double
        fundFamily:
          type: string
        fundName:
          type: string
        changeClosePercentage:
          type: number
          format: double

    QuoteProduct:
      type: object
      properties:
        symbol:
          type: string
        securityType:
          type: string
          enum:
            - BOND
            - EQ
            - INDX
            - MF
            - MMF
            - OPTN
        securitySubType:
          type: string
        callPut:
          type: string
          enum:
            - CALL
            - PUT
        expiryYear:
          type: integer
          format: int32
        expiryMonth:
          type: integer
          format: int32
        expiryDay:
          type: integer
          format: int32
        strikePrice:
          type: number

    # ========== Product Lookup Schemas ==========
    LookupResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LookupData'

    LookupData:
      type: object
      properties:
        symbol:
          type: string
          description: The market symbol for the security
        description:
          type: string
          description: The company or security description
        type:
          type: string
          description: The security type (e.g., EQUITY, OPTION, MUTUAL_FUND, ETF)

    # ========== Option Chain Schemas ==========
    OptionChainResponse:
      type: object
      properties:
        optionPairs:
          type: array
          items:
            $ref: '#/components/schemas/OptionChainPair'
        timeStamp:
          type: integer
          format: int64
          description: The timestamp of the response
        quoteType:
          type: string
          description: Type of quote (e.g., REALTIME, DELAYED)
        nearPrice:
          type: number
          format: double
          description: The near price used for the option chain
        selected:
          $ref: '#/components/schemas/SelectedED'

    SelectedED:
      type: object
      description: The selected expiration date
      properties:
        month:
          type: integer
          description: The month of the selected expiration date
        year:
          type: integer
          description: The year of the selected expiration date
        day:
          type: integer
          description: The day of the selected expiration date

    OptionChainPair:
      type: object
      properties:
        call:
          $ref: '#/components/schemas/OptionDetails'
        put:
          $ref: '#/components/schemas/OptionDetails'
        pairType:
          type: string
          description: The pair type (CALLONLY, PUTONLY, CALLPUT)

    OptionDetails:
      type: object
      properties:
        optionCategory:
          type: string
          description: The option category (STANDARD, MINI)
        optionRootSymbol:
          type: string
          description: The root symbol for the option
        timeStamp:
          type: integer
          format: int64
          description: The timestamp of the option data
        adjustedFlag:
          type: boolean
          description: Whether the option is adjusted
        displaySymbol:
          type: string
          description: The display symbol for the option
        optionType:
          type: string
          enum:
            - CALL
            - PUT
          description: The option type
        strikePrice:
          type: number
          format: double
          description: The strike price of the option
        symbol:
          type: string
          description: The full option symbol
        bid:
          type: number
          format: double
          description: The bid price
        ask:
          type: number
          format: double
          description: The ask price
        bidSize:
          type: integer
          format: int64
          description: The bid size
        askSize:
          type: integer
          format: int64
          description: The ask size
        inTheMoney:
          type: string
          description: Whether the option is in the money (y/n)
        volume:
          type: integer
          format: int64
          description: The trading volume
        openInterest:
          type: integer
          format: int64
          description: The open interest
        netChange:
          type: number
          format: double
          description: The net change from previous close
        lastPrice:
          type: number
          format: double
          description: The last traded price
        quoteDetail:
          type: string
          description: URL to get quote detail
        osiKey:
          type: string
          description: The OSI (Options Symbology Initiative) key
        optionGreeks:
          $ref: '#/components/schemas/OptionGreeks'
        optionMultiplier:
          type: number
          format: double
          description: The option multiplier
        expiryYear:
          type: integer
          description: The expiration year
        expiryMonth:
          type: integer
          description: The expiration month
        expiryDay:
          type: integer
          description: The expiration day
        expiryType:
          type: string
          description: The expiration type (DAILY, WEEKLY, MONTHLY, QUARTERLY)

    # ========== Option Expire Date Schemas ==========
    OptionExpireDateResponse:
      type: object
      properties:
        expirationDates:
          type: array
          items:
            $ref: '#/components/schemas/ExpirationDate'

    ExpirationDate:
      type: object
      properties:
        year:
          type: integer
          description: The year of the expiration date
        month:
          type: integer
          description: The month of the expiration date (1-12)
        day:
          type: integer
          description: The day of the expiration date (1-31)
        expiryType:
          type: string
          enum:
            - UNSPECIFIED
            - DAILY
            - WEEKLY
            - MONTHLY
            - QUARTERLY
          description: The type of option expiry

    # ========== Orders Schemas ==========
    OrdersResponse:
      type: object
      properties:
        marker:
          type: string
          description: Marker for paging
        next:
          type: string
          description: Next page marker
        order:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        messages:
          $ref: '#/components/schemas/Messages'

    Order:
      type: object
      properties:
        orderId:
          type: integer
          format: int64
          description: The order ID
        details:
          type: string
          description: URL for order details
        orderType:
          type: string
          enum:
            - EQ
            - OPTN
            - SPREADS
            - BUY_WRITES
            - BUTTERFLY
            - IRON_BUTTERFLY
            - CONDOR
            - IRON_CONDOR
            - MF
            - MMF
        totalOrderValue:
          type: number
          description: Total order value
        totalCommission:
          type: number
          description: Total commission
        orderDetail:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetail'
        events:
          $ref: '#/components/schemas/OrderEvents'

    OrderDetail:
      type: object
      properties:
        orderNumber:
          type: integer
        accountId:
          type: string
        previewTime:
          type: integer
          format: int64
        placedTime:
          type: integer
          format: int64
        executedTime:
          type: integer
          format: int64
        orderValue:
          type: number
        status:
          type: string
          enum:
            - OPEN
            - EXECUTED
            - CANCELLED
            - INDIVIDUAL_FILLS
            - CANCEL_REQUESTED
            - EXPIRED
            - REJECTED
            - PARTIAL
            - DO_NOT_EXERCISE
            - DONE_TRADE_EXECUTED
        orderType:
          type: string
        orderTerm:
          type: string
          enum:
            - GOOD_UNTIL_CANCEL
            - GOOD_FOR_DAY
            - GOOD_TILL_DATE
            - IMMEDIATE_OR_CANCEL
            - FILL_OR_KILL
        priceType:
          type: string
          enum:
            - MARKET
            - LIMIT
            - STOP
            - STOP_LIMIT
            - TRAILING_STOP_CNST_BY_LOWER_TRIGGER
            - UPPER_TRIGGER_BY_TRAILING_STOP_CNST
            - TRAILING_STOP_PRCT_BY_LOWER_TRIGGER
            - UPPER_TRIGGER_BY_TRAILING_STOP_PRCT
            - TRAILING_STOP_CNST
            - TRAILING_STOP_PRCT
            - HIDDEN_STOP
            - HIDDEN_STOP_BY_LOWER_TRIGGER
            - UPPER_TRIGGER_BY_HIDDEN_STOP
            - NET_DEBIT
            - NET_CREDIT
            - NET_EVEN
            - MARKET_ON_OPEN
            - MARKET_ON_CLOSE
            - LIMIT_ON_OPEN
            - LIMIT_ON_CLOSE
        limitPrice:
          type: number
        stopPrice:
          type: number
        stopLimitPrice:
          type: number
        marketSession:
          type: string
          enum:
            - REGULAR
            - EXTENDED
        allOrNone:
          type: boolean
        instrument:
          type: array
          items:
            $ref: '#/components/schemas/OrderInstrument'
        messages:
          $ref: '#/components/schemas/Messages'
        estimatedCommission:
          type: number
        estimatedTotalAmount:
          type: number
        netPrice:
          type: number
        netBid:
          type: number
        netAsk:
          type: number
        replacedByOrderId:
          type: integer
        replacesOrderId:
          type: integer
        previewId:
          type: integer
          format: int64

    OrderInstrument:
      type: object
      properties:
        product:
          $ref: '#/components/schemas/OrderProduct'
        symbolDescription:
          type: string
        orderAction:
          type: string
          enum:
            - BUY
            - SELL
            - BUY_TO_COVER
            - SELL_SHORT
            - BUY_OPEN
            - BUY_CLOSE
            - SELL_OPEN
            - SELL_CLOSE
            - EXCHANGE
        quantityType:
          type: string
          enum:
            - QUANTITY
            - DOLLAR
            - ALL_I_OWN
        quantity:
          type: number
        cancelQuantity:
          type: number
        orderedQuantity:
          type: number
        filledQuantity:
          type: number
        averageExecutionPrice:
          type: number
        estimatedCommission:
          type: number
        estimatedFees:
          type: number
        bid:
          type: number
          format: double
        ask:
          type: number
          format: double
        lastprice:
          type: number
          format: double
        currency:
          type: string
          enum:
            - USD
            - EUR
            - GBP
            - HKD
            - JPY
            - CAD
        osiKey:
          type: string
          description: OSI key for options
        mfTransaction:
          type: string
          enum:
            - BUY
            - SELL

    OrderProduct:
      type: object
      properties:
        symbol:
          type: string
        securityType:
          type: string
          enum:
            - EQ
            - OPTN
            - INDX
            - MF
            - MMF
        callPut:
          type: string
          enum:
            - CALL
            - PUT
        expiryYear:
          type: integer
          format: int32
        expiryMonth:
          type: integer
          format: int32
        expiryDay:
          type: integer
          format: int32
        strikePrice:
          type: number
        expiryType:
          type: string

    OrderEvents:
      type: object
      properties:
        event:
          type: array
          items:
            $ref: '#/components/schemas/OrderEvent'

    OrderEvent:
      type: object
      properties:
        name:
          type: string
          enum:
            - UNSPECIFIED
            - ORDER_PLACED
            - SENT_TO_CMS
            - SENT_TO_MARKET
            - MARKET_SENT_ACKNOWLEDGED
            - CANCEL_REQUESTED
            - ORDER_MODIFIED
            - ORDER_SENT_TO_BROKER_REVIEW
            - SYSTEM_REJECTED
            - ORDER_REJECTED
            - ORDER_CANCELLED
            - CANCEL_REJECTED
            - ORDER_EXPIRED
            - ORDER_EXECUTED
            - ORDER_ADJUSTED
            - ORDER_REVERSED
            - REVERSE_CANCELLATION
            - REVERSE_EXPIRATION
            - OPTION_POSITION_ASSIGNED
            - OPEN_ORDER_ADJUSTED
            - CA_CANCELLED
            - CA_BOOKED
            - IPO_ALLOCATED
            - DONE_TRADE_EXECUTED
            - REJECTION_REVERSAL
        dateTime:
          type: integer
          format: int64
        orderNumber:
          type: integer
        instrument:
          type: array
          items:
            $ref: '#/components/schemas/OrderInstrument'

    PreviewOrderRequestEnvelope:
      type: object
      required:
        - PreviewOrderRequest
      properties:
        PreviewOrderRequest:
          $ref: '#/components/schemas/PreviewOrderRequest'

    PreviewOrderRequest:
      type: object
      required:
        - orderType
        - Order
        - clientOrderId
      properties:
        orderType:
          type: string
          enum:
            - EQ
            - OPTN
            - SPREADS
            - BUY_WRITES
            - BUTTERFLY
            - IRON_BUTTERFLY
            - CONDOR
            - IRON_CONDOR
            - MF
            - MMF
        clientOrderId:
          type: string
          description: Unique ID (up to 20 alphanumeric chars) to prevent duplicates
          maxLength: 20
        Order:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailRequest'

    OrderDetailRequest:
      type: object
      required:
        - accountId
        - allOrNone
        - priceType
        - orderTerm
        - Instrument
        - marketSession        
      properties:
        accountId: 
          type: string
          description: The numeric account ID
        allOrNone:
          type: boolean
          default: false
        priceType:
          type: string
          enum:
            - MARKET
            - LIMIT
            - STOP
            - STOP_LIMIT
            - NET_DEBIT
            - NET_CREDIT
            - NET_EVEN
        orderTerm:
          type: string
          enum:
            - GOOD_UNTIL_CANCEL
            - GOOD_FOR_DAY
            - GOOD_TILL_DATE
            - IMMEDIATE_OR_CANCEL
            - FILL_OR_KILL
        marketSession:
          type: string
          enum:
            - REGULAR
            - EXTENDED
        stopPrice:
          type: number
        limitPrice:
          type: number
        stopLimitPrice:
          type: number
        Instrument:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentRequest'

    InstrumentRequest:
      type: object
      required:
        - Product
        - orderAction
        - quantityType
        - quantity
      properties:
        Product:
          $ref: '#/components/schemas/ProductRequest'
        orderAction:
          type: string
          enum:
            - BUY
            - SELL
            - BUY_TO_COVER
            - SELL_SHORT
            - BUY_OPEN
            - BUY_CLOSE
            - SELL_OPEN
            - SELL_CLOSE
        quantityType:
          type: string
          enum:
            - QUANTITY
            - DOLLAR
            - ALL_I_OWN
        quantity:
          type: number

    ProductRequest:
      type: object
      required:
        - symbol
        - securityType
      properties:
        symbol:
          type: string
        securityType:
          type: string
          enum:
            - EQ
            - OPTN
            - MF
            - MMF
        callPut:
          type: string
          enum:
            - CALL
            - PUT
        expiryYear:
          type: integer
          format: int32
        expiryMonth:
          type: integer
          format: int32
        expiryDay:
          type: integer
          format: int32
        strikePrice:
          type: number

    PreviewOrderResponse:
      type: object
      properties:
        orderType:
          type: string
        messageList:
          $ref: '#/components/schemas/Messages'
        totalOrderValue:
          type: number
        totalCommission:
          type: number
        order:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetail'
        previewIds:
          type: array
          items:
            $ref: '#/components/schemas/PreviewId'
        previewTime:
          type: integer
          format: int64
        dstFlag:
          type: boolean
        accountId:
          type: string
        optionLevelCd:
          type: integer
          format: int32
        marginLevelCd:
          type: string
          enum:
            - UNSPECIFIED
            - MARGIN_TRADING_NOT_ALLOWED
            - MARGIN_TRADING_ALLOWED
            - MARGIN_TRADING_ALLOWED_ON_OPTIONS
            - MARGIN_TRADING_ALLOWED_ON_PM
        isEmployee:
          type: boolean
        commissionMessage:
          type: string
        clientOrderId:
          type: string

    PreviewId:
      type: object
      properties:
        previewId:
          type: integer
          format: int64
        cashMargin:
          type: string
          enum:
            - CASH
            - MARGIN

    Messages:
      type: object
      properties:
        message:
          type: array
          items:
            $ref: '#/components/schemas/Message'

    Message:
      type: object
      properties:
        description:
          type: string
          description: The message text
        code:
          type: integer
          format: int32
          description: Numeric message code
        type:
          type: string
          enum:
            - WARNING
            - INFO
            - INFO_HOLD
            - ERROR

security:
  - oauth1: []
